.page-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  color: #a0aec0; /* gray-500 */
}

.page-loader-container .spinner-icon {
  animation: spin 1s linear infinite;
  font-size: 3rem; /* 48px */
  margin-bottom: 1rem; /* 16px */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 